extends ../layouts/default
include ../mixins/opengraph
include ../mixins/social
include ../mixins/banner
include ../mixins/people
include ../mixins/countdown
include ../mixins/index-mixins



block head
	+opengraph(title, 'http://poland20.com/', null , "Poland 2.0 Summit is an annual event held in Autumn at Imperial College London. Its main purpose is to discuss how innovation and new technologies impact and add value to start-ups, entrepreneurship, public policy and many other areas of public life in Poland.")
	meta(name="description" content="An annual event focusing on how innovation and new technologies impact and add value to start-ups, entrepreneurship, public policy and life in Poland.")

	


block content
	//- previous img: https://res.cloudinary.com/dg1royeho/image/upload/c_scale,q_auto,w_1600,fl_progressive/v1462402246/imperial_nostock_lhp5ll.jpg
	+banner("home-banner", "https://res.cloudinary.com/dg1royeho/image/upload/c_scale,q_auto,w_1600,fl_progressive/v1462402246/imperial_nostock_lhp5ll.jpg", true, true, "center", content.backgroundVideo.enable ? "with-video" : "")
			.banner-content.lighter.uppercase
				img(src='https://res.cloudinary.com/dg1royeho/image/upload/v1465242752/logo_to4xlx.svg').logo-large.animate
				h1.animate.smaller Poland 2.0
					div.lighter Summit
				if (currentEdition && currentEdition.dateString && currentEdition.venue)
					div.time-place.animate
							//- TODO HTML date tag when date becomes available
							div= currentEdition.dateString 
							div= currentEdition.venue.name
				//- div.spaced-buttons.animate
					//- a.white.hollow.responsive.button.uppercase(href='/speakers') Speakers
					//- a.white.hollow.responsive.button.uppercase(href='/tickets') Tickets
					//- a.white.hollow.responsive.button.uppercase(href='/showcase-your-idea') Showcase your idea at Poland 2.0
					a.white.hollow.responsive.button.uppercase.watch-video Watch the promo video
			
				if content.ticketsLive
					p.lead.uppercase.lighter= content.ticketMessage
					if content.countdown
						+countdown()(id="countdown")

				.button-group.stacked-for-small
					if content.ticketsLive
						a.hollow.white.responsive.button.uppercase.lighter.press-down(href=content.ticketsUrl) Get the tickets
					if (speakers.keynote.length || speakers.regular.length) && content.speakerMenuButton
						a.hollow.white.responsive.button.uppercase.lighter.press-down(href="/#speakers") See the speakers




			if content.backgroundVideo.enable
				.flex-video(style="height: 154%; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 200%")
					#banner-video
					
		
	
	//- Homepage blurb
	div
				!= content.homepageText 


	if content.testimonials
		section.testimonials.divider-bottom
			ul.unstyled
				each testimonial in content.parsedTestimonials
					li
						blockquote.large-quote
							p!= testimonial.quote
							footer= testimonial.author

	//- Email signup form
	if content.ticketRegistrationSignup	
		section.dark-bg.padded
			.container
				h2.center.uppercase.underlined.lighter(style="color: white;") Reserve your tickets now!
				.row
					.column.small-12.medium-6
						p Sign up with your email address in order to secure your tickets now, before the sales begin!
						.row(style="justify-content:center")
							.column.shrink
								img(src="http://res.cloudinary.com/dg1royeho/image/upload/v1471194817/ticket_iljdkj.svg", style="max-height: 300px; display: inline-block")
							//- .column
								img(src="http://res.cloudinary.com/dg1royeho/image/upload/v1471287186/newsletter_pbhujz.svg", style="max-height: 300px; display: inline-block")
								
					.column.small-12.medium-6.align-self-middle(style="display: flex; justify-content: center; align-items: center; padding: 0")
						include ../mixins/mc-signup.html

	//- Speakers
	if speakers.keynote.length || speakers.regular.length

		section.padded
			.hash-anchor(id="speakers")
			.container
			
				if speakers.keynote.length
					h2.center.uppercase.underlined.lighter Keynote speakers
					ul.people-grid.flex-center
						each speaker in speakers.keynote
							+keynoteSpeaker(speaker)
					each speaker in speakers.keynote
						+speaker-modal("modal-"+speaker.slug, speaker)

				if speakers.regular.length
					h2.center.uppercase.underlined.lighter Speakers
					ul.people-grid
						each speaker in speakers.regular
							+speaker(speaker)
					each speaker in speakers.regular	
						+speaker-modal("modal-"+speaker.slug, speaker)											
	//- social media
	section.padded
		p.center.lead Join us on social media to receive updates about what's happening during Poland 2.0 Summit!
		.row#social-banner
			a(href='https://www.facebook.com/EEESummit/').like-facebook.button.large Like us on Facebook
			a(href='https://twitter.com/poland20summit').follow-twitter.button.large Follow us on Twitter


	block js
		//- script(src="js/mc.js")
		if content.backgroundVideo.enable
			script.
				var videoId = "#{content.backgroundVideo.id}";
			script(src="/js/banner-video.js")
		if content.countdown
			+countdownScript(content.countdownDate)





