extends ../layouts/default
include ../mixins/opengraph
include ../mixins/social
include ../mixins/banner
include ../mixins/people
include ../mixins/countdown
include ../mixins/index-mixins



block head
	+opengraph(title, 'http://poland20.com/', null , "Poland 2.0 Summit is an annual event held in Autumn at Imperial College London. Its main purpose is to discuss how innovation and new technologies impact and add value to start-ups, entrepreneurship, public policy and many other areas of public life in Poland.")
	meta(name="description" content="An annual event focusing on how innovation and new technologies impact and add value to start-ups, entrepreneurship, public policy and life in Poland.")

	


block content
	//- previous img: https://res.cloudinary.com/dg1royeho/image/upload/c_scale,q_auto,w_1600,fl_progressive/v1462402246/imperial_nostock_lhp5ll.jpg
	+banner("home-banner", "https://res.cloudinary.com/dg1royeho/image/upload/c_scale,q_auto,w_1600,fl_progressive/v1462402246/imperial_nostock_lhp5ll.jpg", true, true, "center", content.backgroundVideo.enable ? "with-video" : "")
			.banner-content.lighter.uppercase
				img(src='https://res.cloudinary.com/dg1royeho/image/upload/v1465242752/logo_to4xlx.svg').logo-large.animate
				h1.animate.smaller Poland 2.0
					div.lighter Summit
				div.time-place.animate
						//- TODO HTML date tag when date becomes available
						if currentEdition
							div= currentEdition.date.dateString 
							div= currentEdition.venue.name
				//- div.spaced-buttons.animate
					//- a.white.hollow.responsive.button.uppercase(href='/speakers') Speakers
					//- a.white.hollow.responsive.button.uppercase(href='/tickets') Tickets
					//- a.white.hollow.responsive.button.uppercase(href='/showcase-your-idea') Showcase your idea at Poland 2.0
					a.white.hollow.responsive.button.uppercase.watch-video Watch the promo video
			
				if content.ticketsLive
					p.lead.uppercase.lighter= content.ticketMessage
					if content.countdown
						+countdown()(id="countdown")

				.button-group.stacked-for-small
					if content.ticketsLive
						a.hollow.white.responsive.button.uppercase.lighter.press-down(href=content.ticketsUrl) Get the tickets
					if (speakers.keynote.length || speakers.regular.length) && content.speakerMenuButton
						a.hollow.white.responsive.button.uppercase.lighter.press-down(href="/#speakers") See the speakers




			if content.backgroundVideo.enable
				.flex-video(style="height: 154%; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 200%")
					#banner-video
					
		
	
	//- Homepage blurb
	div
				!= content.homepageText 


	if content.testimonials
		section.testimonials.divider-bottom
			ul.unstyled
				each testimonial in content.parsedTestimonials
					li
						blockquote.large-quote
							p!= testimonial.quote
							footer= testimonial.author

	//- Email signup form
	if content.ticketRegistrationSignup	
		section.dark-bg.padded
			.container
				h2.center.uppercase.underlined.lighter(style="color: white;") Reserve your tickets now!
				.row
					.column.small-12.medium-6
						p Sign up with your email address in order to secure your tickets now, before the sales begin!
						.row(style="justify-content:center")
							.column.shrink
								img(src="http://res.cloudinary.com/dg1royeho/image/upload/v1471194817/ticket_iljdkj.svg", style="max-height: 300px; display: inline-block")
							//- .column
								img(src="http://res.cloudinary.com/dg1royeho/image/upload/v1471287186/newsletter_pbhujz.svg", style="max-height: 300px; display: inline-block")
								
					.column.small-12.medium-6.align-self-middle(style="display: flex; justify-content: center; align-items: center; padding: 0")
						include ../mixins/mc-signup.html

	//- Speakers
	if speakers.keynote.length || speakers.regular.length

		section.padded
			.hash-anchor(id="speakers")
			.container
			
				if speakers.keynote.length
					h2.center.uppercase.underlined.lighter Keynote speakers
					ul.people-grid.flex-center
						each speaker in speakers.keynote
							+keynoteSpeaker(speaker)
					each speaker in speakers.keynote
						+speaker-modal("modal-"+speaker.slug, speaker)

				if speakers.regular.length
					h2.center.uppercase.underlined.lighter Speakers
					ul.people-grid
						each speaker in speakers.regular
							+speaker(speaker)
					each speaker in speakers.regular	
						+speaker-modal("modal-"+speaker.slug, speaker)

	if content.agendaActive
		.hash-anchor(id="agenda")
		section.padded(style="background: #223049")

			h2.underlined.uppercase.center.lighter(style="color:white") Agenda
			.agenda-container
				each day in agenda
					.container
						h3(style="color:white")= day.caption
					ul.agenda-accordion(data-accordion, data-allow-all-closed="true" data-multi-expand="true")
						each entry in day.content
							if entry.detailedDescription
								+agenda-entry(entry)
							else
								+agenda-entry-empty(entry)
			if content.showVenues	
				.hash-anchor(id="venue")
				section.padded-bottom(style="background: #223049")
				h2.center.uppercase.lighter.underlined(style="color:white;") Venues
				.row(style="max-width: 100%;")
					.columns.medium-3.small-12
						.ven-card
							.lead.uppercase.center Friday's venue
							.v-bot.ven-nfo
								div Union Building
								div Beit Quadrangle
								div Prince Consort Rd
								div London SW7 2BB, United Kingdom
							.g-map.
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2518.3779137170604!2d-0.17805089605796492!3d51.50024970596765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x69d050f55be596d5!2sUnion+Concert+Hall!5e0!3m2!1sen!2spl!4v1476740385724" width="100%" height="270" frameborder="0" style="border:0" allowfullscreen></iframe>
					.columns.medium-3.small-12
						.ven-card
							.lead.uppercase.center Friday's social
							.v-bot.ven-nfo
								div Smollensky's
								div 105 Strand
								div London WC2R 0AA, United Kingdom
							.g-map.
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3969.1849828334375!2d-0.12189551713735923!3d51.51031433825318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604ca32de4c37%3A0xc843d0fd4490314b!2sSmollensky&#39;s!5e0!3m2!1sen!2spl!4v1476735966747" width="100%" height="270" frameborder="0" style="border:0" allowfullscreen></iframe>
					.columns.medium-3.small-12
						.ven-card
							.lead.uppercase.center Saturday's venue
							.v-bot.ven-nfo
								div Sir Alexander Fleming Building
								div Prince Consort Rd
								div London SW7 2BB, United Kingdom
							.g-map.
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.8450453491337!2d-0.1784836843328941!3d51.4977109796336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876055ccaed341f%3A0x4327fb85b374d5e3!2sSir+Alexander+Fleming+Building!5e0!3m2!1sen!2spl!4v1476741585096" width="100%" height="270" frameborder="0" style="border:0" allowfullscreen></iframe>
					.columns.medium-3.small-12
						.ven-card
							.lead.uppercase.center The ball
							.v-bot.ven-nfo
								div Porchester Hall
								div Porchester Rd
								div London W2 5HS, United Kingdom
							.g-map.
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5377.554342389855!2d-0.1913252094126599!3d51.51744999052579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487610007f46a997%3A0x45ab0200aeb87a5a!2sPorchester+Hall!5e0!3m2!1sen!2spl!4v1476742329109" width="100%" height="270" frameborder="0" style="border:0" allowfullscreen></iframe>


												
	//- social media
	section.padded
		p.center.lead Join us on social media to receive updates about what's happening during Poland 2.0 Summit!
		.row#social-banner
			a(href='https://www.facebook.com/EEESummit/').like-facebook.button.large Like us on Facebook
			a(href='https://twitter.com/poland20summit').follow-twitter.button.large Follow us on Twitter


	block js
		//- script(src="js/mc.js")
		if content.backgroundVideo.enable
			script.
				var videoId = "#{content.backgroundVideo.id}";
			script(src="/js/banner-video.js")
		if content.countdown
			+countdownScript(content.countdownDate)





