extends ../layouts/default
include ../mixins/banner
include ../mixins/opengraph
include ../mixins/people

block head
	+opengraph(title, 'http://poland20.com/past-editions', null , "Have a look at the previous editions of the Poland 2.0 Summit.")
	meta(name="description", content="Have a look at the previous editions of the Poland 2.0 Summit")

block css
	link(rel="stylesheet", href="Swiper/dist/css/swiper.min.css")

block content
	+banner(null, "https://res.cloudinary.com/dg1royeho/image/upload/c_crop,h_800,w_3216/c_scale,w_1600,fl_progressive/v1467071838/dowfe5c7zgixzcpksqkv.jpg" ,false, false, "left", "lighter uppercase")
		h1.lighter.no-margin Past editions
	
	section#edition-select
		.container
			ul.vertical.medium-horizontal.menu.edition-select-menu(data-magellan data-bar-offset="48" data-animation-duration="250" data-deep-linking="false")
				li.caption Go to edition:
				each edition in editions
					li
						a.button.hollow.secondary(href="##{edition.slug}")= edition.fullName

	each edition, index in editions
		.edition(id="#{edition.slug}" data-magellan-target="#{edition.slug}" )
			.container.edition-info
				h2= edition.fullName

				if edition.date.dateString || edition.venue.name
					h3.small
						if edition.venue.name
							| #{edition.venue.name}
						if edition.date.dateString && edition.venue.name
							| , 
						if edition.date.dateString
							| #{edition.date.dateString}

			.container.unpad.padded
					.row.align-middle
						.medium-5.small-12.medium-order-2.hero-img
								img(src=edition.mainPhoto.url).hero-img
						.medium-7.small-12
							.container
								.description!= edition.description

			if edition.speakers.length
				.container.padded
					h4.uppercase.center Speakers
					ul.people-grid
						each speaker in edition.speakers
							+pastSpeaker(speaker)

			if edition.teamMembers.length
				.container.padded
					h4.uppercase.center The team
					ul.people-grid
						each teamMember in edition.teamMembers
							+pastTeamMember(teamMember)

	

		
			if edition.photos && edition.photos.length
				.swiper-container
					.swiper-wrapper
						//- dummy slide, because swiper gets broken...
						//- .swiper-slide
						each photo in edition.photos
							.swiper-slide: img(src=photo.url)
					.swiper-pagination
					.swiper-button-next
					.swiper-button-prev
							
block js
	script(src='Swiper/dist/js/swiper.min.js')
	script(src='js/past-editions.js')






