mixin contact-form
  - const id = attributes.id;
  form(method='post' action='/contact' id=id).contact-form.form
    fieldset
      .form-row
        +form-field(id, 'name', 'name', 'text', true)(size=6)
        +form-field(id, 'name', 'e-mail', 'email', true)(size=6)
      .form-row
        +form-field(id, 'company', 'company', 'text')(size=6)
        +form-field(id, 'phone', 'phone (incl. country code)', 'tel')(size=6)
      .form-row
        +form-field(id, 'your-question', 'your question', 'textarea')(size=12)
      .form-row.form-row--right-aligned
        .form-field.form-field--shrink
          p Fields marked with &lsquo;*&rsquo;	 are required.
        .form-field.form-field--shrink
          +form-button(id)='Submit'

mixin form-field(formId, fieldId, label, type='text', required=false)
  .form-field(class=`form-field--size-${attributes.size}`)
    //- hyphenate the labelId
    - const labelId = `${formId}-${fieldId.replace(/\s/g, '-')}`;
    .form-field__label-bg
    if type == 'textarea'
      textarea(id=labelId, required=required, rows=5)
    else
      input(id=labelId, type=type, required=required)
    label(for=labelId)!=label + (required ? '*' : '')

mixin form-button(formId, text)

  button.button.button--primary(type='submit')
    block

