
mixin format-address(name, address)
	div= name
	div= address.street1
	div= address.street2
	div= address.suburb+' '+address.postcode

mixin speaker-modal(id, speaker)
	.large.reveal.modal(id=id, data-reveal, data-animation-in="slide-fade-in", data-animation-out="slide-fade-out")
		.photo-container
			.photo-large: img(src=speaker.photo.url)
		.info
			h3.uppercase.bold= speaker.name
			p.lead= speaker.position
			p.lead= speaker.company
			p.lighter= speaker.presentationTopic
			.description: != speaker.description
		button.button.hollow.close-button.medium.secondary(data-close aria-label="Close modal", type="button")
			span.close-icon(aria-hidden="true")

mixin agenda-entry(entry)
	li.agenda-accordion-item(class="accordion-item" data-accordion-item)
		a.agenda-accordion-title(href="#")
			.time=entry.time
			.ev!=entry.briefDescription
			.location= entry.location && entry.location.length ? '('+entry.location+')' : ''
			.open-close: .open-close-icon
		.agenda-accordion-content(data-tab-content)
			p!= entry.detailedDescription

mixin agenda-entry-empty(entry)
	li.agenda-accordion-item.accordion-item.empty(data-accordion-item)
		a.agenda-accordion-title
			.time!=entry.time
			.ev!=entry.briefDescription
			.location= entry.location && entry.location.length ? '('+entry.location+')' : ''
		.agenda-accordion-content.accordion-content(data-tab-content)