mixin speaker(speaker)
	li.speaker
		if speaker.description
			a(data-open="modal"+speaker.slug).card
				if speaker.photo.url
				.image
					img(src=speaker.photo.url)
			.content 
				.header.uppercase= speaker.name
				.meta
					div= speaker.position
					div= speaker.company
				.small= speaker.presentation
		else
			span.card
				if speaker.photo.url
					.image
						img(src=speaker.photo.url)
				.content
					.header.uppercase= speaker.name
					.meta
						div= speaker.position
						div.strong= speaker.company
					.small= speaker.presentation


mixin keynoteSpeaker(speaker)
	li.keynote-speaker.speaker
		if speaker.description
			a(data-open="modal"+speaker.slug).card
				if speaker.photo.url
					.image
						img(src=speaker.photo.url)
				.content
					.header.uppercase= speaker.name
					.meta
						div= speaker.position
						div.strong= speaker.company
					.small= speaker.presentation
		else	
			.card
				if speaker.photo.url
					.image
						img(src=speaker.photo.url)
				.content
					.header.uppercase= speaker.name
					.meta
						div= speaker.position
						div.strong= speaker.company
					.small= speaker.presentation


		//- .description= teamMember.description

mixin teamMember(teamMember)
	li.team-member
		.card
			if teamMember.photo
				.image
					img(src=teamMember.photo.url)

			.content
				.header= teamMember.name
				.meta
					.position= teamMember.position
					.occupation= teamMember.occupation