include ../lazy-image/lazy-image

mixin card
  .card&attributes(attributes)
      block

mixin card-image(src, placeholder, imgRatio = '1:1')
    .card__image
      +lazy-image(src, placeholder, imgRatio)&attributes(attributes)

mixin card-content
  .card__content&attributes(attributes)
    block

mixin card-footer
  footer&attributes(attributes)
    block

mixin team-card(teamMember)
  - const url = teamMember.photo.secure_url;
  - const src = imgTransform.limit(url, 300);
  - const placeholder = imgTransform.limit(url, 32);

  +card.team-card(property="member" typeof="http://schema.org/Person")
      +card-image(src, placeholder)(alt=`Photo of ${teamMember.name}` property="image")
      .card__content
        .card__row.card__heading(property="name")=teamMember.name
        .card__row(property="jobTitle")=teamMember.position
        if (teamMember.occupation)
          .card__row(property="affiliation" typeof="http://schema.org/Organization")
            span(property="name")=teamMember.occupation
      if (teamMember.email || teamMember.linkedin)
        footer
          ul.team-card__contact-links
            if teamMember.email
              li
                a(href=`mailto:${teamMember.email}` property="email" title="E-mail").email: i.ion-ios-email-outline
            if teamMember.linkedin
              li
                a(href=teamMember.linkedin property="sameAs" target="_blank" rel="noopener" title="LinkedIn").linkedin: i.ion-social-linkedin