include ../mixins/flash-messages
include ../mixins/analytics
mixin menu(links)
	ul.menu(class!=attributes.class)
		each link in links
			li(class=( section == link.key ? 'active' : null))
				a(href=link.href)= link.label
				if link.children
					+menu(link.children, dr)

doctype html
html(lang="en-GB")

	//- HTML HEADER
	head
		meta(charset="utf-8")
		//- meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		meta(content="width=device-width,maximum-scale=1.0,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes,shrink-to-fit=no" name="viewport")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(http-equiv="Content-Language" content="en")
		meta(name="theme-color" content="#15283c")
		//- meta(name="msapplication-navbutton-color" content="#15283c")
		meta(name="apple-mobile-web-app-status-bar-style" content="#15283c")
		meta(name="msapplication-TileColor" content="#15283c")

		title= title || 'Poland 2.0'
		include ../mixins/favicons.jade
		link(href='/responsive-nav/responsive-nav.css', rel="stylesheet")

		//- main stylesheet

		link(href="/styles/main.css", rel="stylesheet")
		//- link(href="/styles/site.css", rel="stylesheet")


		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		//- Examples - open graph, meta descr for SEO etc
		block head

	//- HTML BODY
	body

		//- HEADER
		header.header
			nav#nav-mobile.container.hide-for-large.nav-collapse(style="display: none;")
				ul.lighter
					each link in navLinks
						li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
					.social-mobile
						a(href='https://www.facebook.com/Poland20Summit/', title="Facebook page"): i.fa.fa-2x.fa-facebook-square
						a(href='https://twitter.com/poland20summit/', title="Twitter page"): i.fa.fa-twitter.fa-2x

			.container: .top-menu
				a#logo-home.nav-logo(href='/'): img.logo-small(src='https://res.cloudinary.com/dg1royeho/image/upload/v1465242752/logo_to4xlx.svg')
				a#nav-toggle.hide-for-large: i.hamburger
				nav#nav-desktop.show-for-large
						ul.menu.lighter
							each link in navLinks
								li(class=( section == link.key ? 'active' : null))
									a(href=link.href)= link.label

			

				.social
					a#fb-page.nav-logo.show-for-large(href='https://www.facebook.com/Poland20Summit/', target='_blank', title="Facebook page"): i.fa.fa-facebook-square.fa-2x
					a.nav-logo.show-for-large(href='https://twitter.com/poland20summit', title="Twitter page" target='_blank'): i.fa.fa-twitter.fa-2x
				
			//- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
			//- ... or completely change this header to suit your design.

			//- div(role="navigation").navbar.navbar-default
			//- 	.container-fluid
			//- 		.collapse.navbar-collapse
			//- 			ul.nav.navbar-nav.navbar-left
			//- 				each link in navLinks
			//- 					li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label



		//- BODY
		#body

			//- NOTE:
			//- There is no .container wrapping class around body blocks to allow more flexibility in design.
			//- Remember to include it in your templates when you override the intro and content blocks!

			//- The Intro block appears above flash messages (used for temporary information display)
			block intro

			//- Flash messages allow you to display once-off status messages to users, e.g. form
			//- validation errors, success messages, etc.
			+flash-messages(messages)

			//- The content block should contain the body of your template's content
			block content


		//- FOOTER

		footer.footer
			if sponsorCategories && sponsorCategories.length
				.hash-anchor#partners
				.footer-section.sponsors
					
					each category in sponsorCategories
							.row.container
								.columns
									h5.uppercase.center 
										if category.sponsors.length > 1
											|#{category.name}
										else 
											|#{category.singular}

									ul.sponsor-list(class=category.key)
										each sponsor in category.sponsors
											li.sponsor
												a(href=sponsor.url title=sponsor.name target="_blank")
													span.sr-only=sponsor.name
													img(src=sponsor.logo.secure_url alt=sponsor.name)
					
					each category in sponsorCategories

							style.
								@media screen and (min-width: 45em) {
								.#{category.key}.sponsor-list .sponsor {
									flex: 1 0 #{100/category.perColumn}%
								}
								}
					.center
						a.hollow.button.primary.center.mailto(href="mailto:contact@poland20.com?subject=Partnership enquiry") Be our partner
			else
				.footer-section.sponsors
					.row.container
						.columns
							.center
								p.lead Are you interested in becoming part of the event?
								a.hollow.button.primary.center.large.mailto(href="mailto:contact@poland20.com?subject=Partnership enquiry") Be our partner

			.footer-section.links
				.row.container
					.small-12.medium-12.large-4.columns
						h5.uppercase Social Media
						ul.inline.social-media
							li
								a(href='https://www.facebook.com/Poland20Summit/' title="Facebook page").fb
									span.sr-only Facebook
									i.fa.fa-facebook.fa-fw
							li
								a(href='https://twitter.com/poland20summit' title="Twitter page").tw
									span.sr-only Twitter
									i.fa.fa-twitter.fa-fw
							li
								a(href='https://www.linkedin.com/company/poland-2-0' title="Linkedin page").ln
									span.sr-only LinkedIn
									i.fa.fa-linkedin.fa-fw
					
					.small-12.medium-6.large-4.columns
						h5.uppercase Useful links
						ul.uppercase.unstyled
							each footerLink in footerLinks
								li: a(href=footerLink.href)= footerLink.label
							ul.list-inline.uppercase

					.small-12.medium-6.large-4.columns

						//- 	h5.uppercase Newsletter
						//- 	.text.uppercase Sign up for Poland 2.0 newsletter:
						//- 	form.input-group.hollow.rounded.white.newsletter-signup(action="/signup-newsletter" method="post")
						//- 		input(type='email' placeholder='EMAIL').input-group-field
						//- 		button.secondary.hollow.button.uppercase.input-group-button.with-loading: span.with-loading-content Sign Up

					
						p.center: img(src='http://res.cloudinary.com/dg1royeho/image/upload/v1467054098/zkm3wlxjs5zspcbr8ptf.svg')
						p.center © Poland 2.0 Summit 2016

						p.center Powered by <a href="http://keystonejs.com" target="_blank">KeystoneJS</a>. Created by <a href="http://github.com/jakow" target="_blank">Jakub Kowalczyk</a>.
						p.center Some graphic assets by <a href="http://www.freepik.com">Freepik</a> and <a href="http://www.flaticon.com">Flaticon</a>.

		//- JAVASCRIPT

		
		//- Add scripts that are globally required by your site here.

		script(src="/js/modernizr.js")
		script(src='/responsive-nav/responsive-nav.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
		script(src='/what-input/what-input.min.js')
		script(src='/foundation-sites/dist/foundation.min.js')
		//- Include template-specific javascript files by extending the js block
		script(src='/js/main.js')
	
		block js


		if 'production' == process.env.NODE_ENV
			+ganalytics

