extends ../../layout/default/default
include ../../mixins/opengraph
include ../../mixins/twitter-card
include ../../mixins/json-ld
include ../../components/lazy-image/lazy-image
include ../../components/animated-logo/animated-logo
include ../../components/banner/banner
include ../../components/agenda/agenda
include ../../layout/speakers/speakers
include ../../mixins/google-map-key
include ../../layout/contact-form/contact-form
include ../../layout/sponsors/sponsors

block append scripts
  script('/home.js')
  +googleMapKey
block append head
  //- Opengraph for rich facebook cards
  +opengraph(opengraph)
  //- Twitter card for rich twitter cards
  +twitter-card(twitterCard)
  //- JSON-Linked Data for google SEO
  if (currentEdition)
    +json-ld(linkedData.event(currentEdition, speakers, sponsors, contentControl))


block content
  //- .baseline-grid
  //-   - for(let i = 0; i < 40; ++i)
  //-     .guide
  +banner#banner
    +banner-column('edge-right')
      .banner__col-content
        header.mobile-align-center
          h1 Poland 2.0 Summit
          p.banner__dateplace
            if (currentEdition)
              time.banner__date(datetime=currentEdition.isoString)=`${currentEdition.dateString}` 
              span.banner__separator
              span.banner__place=`${currentEdition.venue.name}`
        div!=contentControl.description 
        //- .banner__whats-on  
        //-   p What's on?
        //-   a.button.button--circular.button--primary.button--icon.button--arrow-down(href="#" title="Explore the website")
            
    +banner-column('image')
      //- A slider with images
      +banner-slider
        //- check if photos are uploaded
        if currentEdition && currentEdition.photos && currentEdition.photos.length > 0
          each photo in currentEdition.photos
            - const imgSrc = imgTransform.limit(photo.secure_url, 900)
            +banner-slider-image-slide(imgSrc)(data-src=imgSrc)
        //- 3 generic photos
        else 
          +banner-slider-image-slide(imgTransform.limit('https://res.cloudinary.com/dg1royeho/image/upload/v1497537104/ffoopf3pdr6xxft5pfel.jpg',900))
          +banner-slider-image-slide(imgTransform.limit('https://res.cloudinary.com/dg1royeho/image/upload/v1497536456/tprdqpldylorpccqpmg0.jpg', 900))
          +banner-slider-image-slide(imgTransform.limit('https://res.cloudinary.com/dg1royeho/image/upload/v1497445653/DSC_0270n_rlkqba.jpg', 900))

  if contentControl.video.enable
    section#testimonials.section--dark-background
    .container
        h2.center(style="color: white") Watch the promo video
        .promo-video.responsive-video.responsive-video--with-loader
          .spinner
          iframe(src=contentControl.video.url frameborder="0" allowfullscreen)

  if contentControl.showSpeakers && speakerCategories
    +speakers(speakerCategories)

  if contentControl.showAgenda && agenda
    section#agenda
      .container
        +agenda(agenda)
  

  //- div(style="width: 240px")
  //-   +lazy-image(
  //-     'https://unsplash.it/500/500?random',
  //-     'https://placehold.it/500x500',
  //-     '1:1', 'scroll')(alt='This is an image')


  section#sponsors
    .container
      if contentControl.showSponsors
        +sponsors(sponsorCategories)
      else if contentControl.showPreviousSponsors
        +previous-sponsors(previousSponsorCategories)

    //- p= JSON.stringify(speakers)
