extends ../../layout/default/default

block content
  p Hello world!
  div
    p Current edition ID #{currentEdition._id}
    each category in speakerCategories
      h1= category.displayName
      each speaker in category.speakers
        img(src=speaker.photo.url)
        h2=speaker.name

    //- p= JSON.stringify(speakers)
    p=Object.keys(locals)
