extends ../../layout/default/default

include ../../components/lazy-image/lazy-image
include ../../components/animated-logo/animated-logo
include ../../components/banner/banner
block append scripts
  script(src=assets("/home.js"))
block head
  script(type="application/ld+json")!=JSON.stringify(linkedData.event(currentEdition, speakers, sponsors, contentControl))
block content
  //- .baseline-grid
  //-   - for(let i = 0; i < 40; ++i)
  //-     .guide
  +banner
    +banner-column('edge-right')
      .banner__col-content
        header.mobile-align-center
          h1 Poland 2.0 Summit
          p.subtitle.for-h1.banner__dateplace
            time.banner__date(datetime=currentEdition.isoString)=`${currentEdition.dateString}` 
            span.banner__separator
            span.banner__place=`${currentEdition.venue.name}`
        | !{contentControl.description}
        .banner__nav
          a.banner__nav-link(href="#") What's on?
          
    +banner-column('image')
      //- A slider with images
      +banner-slider
        +banner-slider-image-slide(imgTransform.limit('https://res.cloudinary.com/dg1royeho/image/upload/v1497537104/ffoopf3pdr6xxft5pfel.jpg',1000))
        +banner-slider-image-slide(imgTransform.limit('https://res.cloudinary.com/dg1royeho/image/upload/v1497536456/tprdqpldylorpccqpmg0.jpg', 1000))
        +banner-slider-image-slide(imgTransform.limit('https://res.cloudinary.com/dg1royeho/image/upload/v1497445653/DSC_0270n_rlkqba.jpg', 1000))



  div(style="background: #fafafa")
    .container.container--padded
      p Youtube video will go here with testimonials
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in arcu dictum, faucibus eros non, dapibus dolor. Nunc facilisis ac lorem vitae blandit. Etiam eleifend nec lacus molestie semper. Vestibulum non nisl pulvinar, viverra turpis id, egestas lorem. Nunc congue nunc ante, tristique rhoncus tortor mollis id. Nam id tempus neque, a cursus leo. Integer porta vestibulum nunc, vel lobortis nulla malesuada at.
      p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque vitae dolor arcu. Ut condimentum mollis ante at elementum. Quisque facilisis malesuada velit ac tempus. Curabitur egestas feugiat orci, id hendrerit ipsum scelerisque vel. Sed eu nulla fringilla, viverra ipsum eu, blandit tellus. Vestibulum massa enim, convallis sit amet vestibulum lacinia, venenatis vel diam. Suspendisse iaculis ut eros id vestibulum. Phasellus neque nisl, luctus sit amet arcu id, tempus consequat ipsum. Pellentesque ac pharetra erat. Sed finibus at tellus malesuada pulvinar. Proin quis enim a quam auctor convallis non at risus. Vivamus porttitor mauris purus, non placerat dui ornare id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras orci quam, lobortis varius tristique sed, dapibus non sem.

  //- Always guard against missing data!
  if speakerCategories
    each category in speakerCategories
      h1= category.displayName
      each speaker in category.speakers
        //- img(src=speaker.photo.url, style="height: 25rem")
        h2=speaker.name
        +lazy-cl-image(speaker.photo,  400, '1:1', 'scroll')(style="max-width: 240px" alt=`Photo of ${speaker.name}`)

  div(style="width: 240px")
    +lazy-image(
      'https://unsplash.it/800/800?random',
      'https://placehold.it/800x800',
      '1:1', 'scroll')(alt='This is an image')

        

    //- p= JSON.stringify(speakers)
