include ../../components/modal/modal
include ../../components/lazy-image/lazy-image

mixin sponsors(sponsorCategories)
  if (sponsorCategories)
    div.center
      h2.bold.heading-stripe Partners
    each category in sponsorCategories
      .sponsor-category
        - const categoryName = slugify(category.name);
        - const categoryClass = 'sponsor-category__list--' + categoryName; 
        +category-inline-style(category)
        if (category.showName)
          h2=(category.sponsors.length > 1) ? category.name : category.singular
        ul.sponsor-category__list(class=`sponsor-category__list--${category.perColumn}-col ${categoryClass}`)
          each sponsor in category.sponsors
            li: +sponsor(sponsor)

mixin previous-sponsors(sponsors)
  if (sponsors && sponsors.length)
    div.center
      h2.bold.heading-stripe Partners
      p.subtitle Previously, Poland 2.0 has partnered up with the following companies, organisations and agencies:
    ul.sponsor-category__list.sponsor-category__list--4-col
      each sponsor in sponsors
        li: +sponsor(sponsor)

mixin sponsor(sponsor)
  - const ratio = sponsor.logo.width / sponsor.logo.height;
  if sponsor.description
    - const modalId = `modal-${sponsor._id}`;
    +modalOpenButton(modalId).sponsor__link(title=`Read about ${sponsor.name}`)
      .sponsor
          +lazy-image(sponsor.logo.secure_url, null, ratio)(alt=sponsor.name).sponsor__logo
          //- img(src=sponsor.logo.secure_url alt=sponsor.name)
          span.sr-only=sponsor.name
    +modal(modalId, `About ${sponsor.name}`)
      .simple-modal
        img.simple-modal__img(src=sponsor.logo.secure_url)
        .simple-modal__content
          header
            h4.simple-modal__heading=sponsor.name
          div!=sponsor.description
  else
    a(href=sponsor.url title=`Go to ${sponsor.name}'s webpage`).sponsor__link
      .sponsor
        +lazy-image(sponsor.logo.secure_url, null, ratio)(alt=sponsor.name).sponsor__logo
        //- img(src=sponsor.logo.secure_url alt=sponsor.name)
        span.sr-only=sponsor.name 



mixin sponsor-description(sponsor)
  .sponsor__modal


mixin category-inline-style(category)
  if category.imageAdjust.width || category.imageAdjust.height
    - const categoryName = slugify(category.name);
    - const categoryClass = 'sponsor-category__list--' + categoryName; 
    - const maxWidth = category.imageAdjust.width;
    - const maxHeight = category.imageAdjust.height;
    style.
      .sponsor-category__list.#{categoryClass} .lazy-img { #{maxWidth  ? 'max-width: '  + maxWidth  + ';' : '' } #{maxHeight ? 'max-height: ' + maxHeight + ';' : '' }}