include ../../components/lazy-image/lazy-image

mixin agenda(agenda)
  h2 Agenda
  .agenda
    .agenda__timeline
    ol.agenda-days
      each day in agenda.days
    
        - const dayMoment = moment.utc(day.date);
        li.agenda-day
          header.agenda-day__description
            h3!=ordinalSuperscripts(moment(day.date).format('dddd, Do MMMM'))
            if day.description
              div=day.description
          ol.agenda-day__events
            each event in day.events
              +agenda-event(event, dayMoment)



mixin agenda-event(event, dayMoment)
  - const startTime = moment.utc(event.time.start, 'H:mm');
  - const startDate = setTime(dayMoment, startTime).toISOString();
  - const endTime = moment.utc(event.time.end, 'H:mm');
  - const endDate = setTime(dayMoment, endTime).toISOString();
  li.agenda-event(id=`event-${event.slug}`)
    header
      //- div=JSON.stringify(event)
      .agenda-event__time-and-type
        time(datetime=`${startDate}/${endDate}`)=`${event.time.start}–${event.time.end}`
        .agenda-event__type=event.type
      h4.agenda-event__name=event.name

    .agenda-event__summary
      if event.speakers
        ul.agenda-event__speaker-list
          each speaker in event.speakers
            li
              +speaker-avatar(speaker)
              span.agenda-event__speaker-name=speaker.name
              
      if event.venue          
        +venue(event.venue)
        //- | #{event.venue.name} <br> #{event.venue.location}
    .agenda-event__details
      .agenda-event__description
      .agenda-event__map
    //- a(href="#").agenda-event__expand--button
    +event-permalink(event.slug)

mixin speaker-avatar(speaker)
  +lazy-image(
    imgTransform.limit(speaker.photo.secure_url, 120), 
    imgTransform.limit(speaker.photo.secure_url, 32)).agenda-event__speaker-avatar(alt=speaker.name)
  //- img(src=imgTransform.limit(speaker.photo.secure_url, 120)).agenda-event__speaker-avatar

mixin venue(venue)
  div.agenda-event__venue
    if (venue.location == null)
      div=venue.name
    else
      div
        | #{venue.location.name}
        if venue.location.street1
          | <br>#{venue.location.street1}
        if venue.location.street2
          | <br>#{venue.location.street2}
        if venue.location.suburb
          | <br>#{venue.location.suburb}
          
        //- if venue.location.state
        //-   | <br>#{venue.location.state}
        if venue.location.postcode
          | &nbsp;#{venue.location.postcode}
      div 
        a(href=googleMapUrl(venue.location) target="_blank").agenda-event__venue-show-map-link.icon-left.icon-map Show on a map

mixin event-permalink(slug)
  a(href=`/#event-${slug}` title="Link to this event").agenda-event__permalink
    span.agenda-event__permalink-caption Link to this event 
    span.agenda-event__permalink-icon.lnr.lnr-link