mixin opengraph(graph)
  if (graph)
    //- The required stuff:
    //- A clear title without branding or mentioning the domain itself (This is debatable, maybe name should be included in this case?)
    meta(property="og:title", content=graph.title)
    //- Content type
    meta(property="og:type", content=graph.type || "website")
    //- Canonical URL: A URL with no session id or extraneous parameters. 
    //- All shares on Facebook will use this as the identifying URL for this article.
    meta(property="og:url", content=graph.url)
    //- A clear description, at least two sentences long.
    if graph.description
      meta(property="og:description", content=graph.description)
    if graph.img
      meta(property="og:image", content=graph.img)

    meta(property="og:site_name", content="Poland 2.0 Summit")
    meta(property="og:locale", content="en_GB")