mixin twitter-card(card)
  // Twitter card
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content=card.site)
  meta(name="twitter:title" content=card.title)
  meta(name="twitter:description" content=card.description)
  meta(name="twitter:image" content=card.image)
  if (card.image.alt)
    meta(name="twitter:image:alt" content=card.imageAlt)